.single-container
  %header.single-header
    %h1.single-header__logo
      =link_to image_tag("fmarket_logo_red.svg",width:"134",height:"36"), root_path  
    %nav.single-header__progress
      %ol
        %li.single-header__progress__text--active{ id: "first" }
          会員情報
          .single-header__progress__round--red
        %li.single-header__progress__text
          お届け先住所入力
          .single-header__progress__round     
        %li.single-header__progress__text
          支払い方法
          .single-header__progress__round    
        %li.single-header__progress__text{ id: "end" }
          完了
          .single-header__progress__round
.single-main__container__form__frame
  = form_for(@user, url: user_registration_path) do |f|
    = render "devise/shared/error_messages", resource: @user
    .form-group
      = f.label :ニックネーム
      %span.form-group__require 必須
      = f.text_field :nickname, {placeholder: "例) メルカリ太郎",class:'form-group__input'}
    .form-group
      = f.label :メールアドレス
      %span.form-group__require 必須
      = f.email_field :email, {autofocus: true, autocomplete: "email", placeholder: "PC・携帯どちらでも可",class:'form-group__input'}
    .form-group
      = f.label :パスワード
      %span.form-group__require 必須
      = f.password_field :password,{autocomplete: "new-password",placeholder: "7文字以上の半角英数字",class:'form-group__input',id:"password"}
      %p.form-group__info ※ 英字と数字の両方を含めて設定してください
      .form-password-revelation-toggle
        .checkbox-default
          %input#reveal_password{type: "checkbox",class:"icon-check"}
          %label{for: "reveal_password"} パスワードを表示する
        .form-password-revelation-revealed-password-container
          %span.form-password-revelation-revealed-password
    .form-group
      %label.form-group-text-title 本人確認
      %p.form-group__info 安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。
    .form-group
      = f.label :"お名前(全角)"
      %span.form-group__require 必須
    = f.text_field :last_name, {placeholder:"例) 山田",class:'form-group__input--half'}
    = f.text_field :first_name, {placeholder:"例) 彩",class:'form-group__input--half'}
    .form-group
      = f.label :"お名前カナ(全角)"
      %span.form-group__require 必須
    = f.text_field :last_name_kana, {placeholder:"例) ヤマダ",class:'form-group__input--half'}
    = f.text_field :first_name_kana, {placeholder:"例) アヤ",class:'form-group__input--half'}
    .form-group
      = f.label :"生年月日"
      %span.form-group__require 必須
      %br
      .birthday-select-wrap
        = raw sprintf(f.date_select(:birthday, with_css_classes:'XXXXX', prompt:"--",use_month_numbers:true, start_year:Time.now.year, end_year:1900, date_separator:'%s'),'年','月')+'日'
      .clearfix
    .form-group
      %p.form-group__text--center
        「次へ進む」のボタンを押すことにより、
        = link_to "利用規約", "#" , target:"_blank"
        に同意したものとみなします
      = f.submit '次へ', class: "btn-default btn-red", url: "address_path"
  = render "registration_footer"



