.main-section
  .header
    -if user_signed_in?
      =render "home/header_login"
    -else
      =render "home/header_unlogin"
  .main-contents.clearfix
  
    .side-search
      = search_form_for(@q,url: products_searches_path) do |f|
        .side-search_sort
          = f.select( :sorts, { '並び替え': 'id desc', '価格の安い順': 'price asc', '価格の高い順': 'price desc', '出品の古い順': 'updated_at asc', '出品の新しい順': 'updated_at desc' } , { onchange: 'this.form.submit()'} ,class:"side-search__sort")
        .side-search_form
          .side-search__title
          %h3 詳細検索
          .side-search__group
          .side-search__group__label
            %p キーワードを追加する
            = f.search_field :name_cont, placeholder: "例）値下げ",class:"side-search__textarea"
          .side-search__group
            .side-search__group__label
            %p 価格 
          .side-search__group__forms
            = f.search_field :price_gteq, placeholder: "¥ Min",class:"side-search__pricerange"
            %p 〜
            = f.search_field :price_lteq, placeholder: "¥ Max",class:"side-search__pricerange"
          .input-form-box
            %label 商品の状態を指定する
            = f.select :status_in, Product.statuses.keys,{prompt:"---"},class:"side-search__status"
          .input-form-box
            %label 配送料の負担　　　　　
            = f.select :postage_eq,Product.postages.keys,{prompt: "---"},class:"side-search__postage"



          .input-form-box
            %label 発送元の地域　　　　　　　　　
            = f.select :prefecture,Product.prefectures.keys,{prompt:"---"},class:"side-search__postage"
          
          .side_search__btn
            .side_search__btn--grey
              = link_to "クリア", request.path ,type: "button"
            = f.submit "完了",class:"side_search__btn--red"
    .search-result
      .search-result--title
        #{@keyword} の検索結果
      %ul.search-result--products__list
        - @products.each do |product|
          = link_to product_path(product.id), class: "products__list" do
            %li.product
              %figucaption.product__text
                = product.name
              .product__thumbnail
                .product__thumbnail--label
                  ¥#{product.price}
                .product__thumbnail--image
                  - if product.images.present?
                    =image_tag (product.images[0].product_image.url)
                  - else
                    = image_tag "no_image.png"
                  -if product.buyer_id.present? 
                    .items-box_photo__sold
                      .items-box_photo__sold__inner SOLD
=render "home/footer"
