.main
  = render "shared/mypage_left"
  .profile-form
    .profile-header
      %h1 プロフィール
    .profile-detail
      = form_for @user, method: :patch, url: profile_update_user_path,class:"personal-input-form" ,local: true do |form|
        .profile-name
          .profile-name-detail
            .profile-name__img
              -# = image_tag "https://static.mercdn.net/images/member_photo_noimage_thumb.png", height: "50", width: "50", class: "user-img"
            .profile-name__form
              = form.text_field :name
        .profile-message
          = form.text_area :profile
        .profile-edit-btn
          .edit-btn
            = form.submit '変更する', class: 'edit-btn__btn'
