=render "home/header_login"
.main
  
  .profile-form
    .profile-header
      %h1 プロフィール
    .profile-detail
    = form_for @user,class:"personal-input-form"  do |form|
      .profile-name
        .profile-name-detail
          .profile-name__img
            = image_tag "https://static.mercdn.net/images/member_photo_noimage_thumb.png", height: "50", width: "50", class: "user-img"
            .profile-name__form
              = form.text_field :nickname
        .profile-message
          = form.text_area :introduction
        .profile-edit-btn
          .edit-btn
            = form.submit '変更する', class: 'edit-btn__btn'
=render "mypage_side"
=render "home/footer"
