=render "home/header_login"
- breadcrumb :mypage
= render "layouts/breadcrumbs"
.mypage_a  
  %main.mypage-contents.clearfix
    .main-content
      %section.user
        .user-link
          %figure
            .user-link__iconn
              = image_tag "noimage.png", class:"user-link__icon"
          %h2.user-link__name
            = @user.nickname
          .user-link__number
            評価　５　出品数　８
      %section.notification-todo
        %ul.tabs
          %li.tabs__notification
            %h3 お知らせ
          %li.tabs__todo
            %h3 やることリスト
        .tab-content-notification
          %ul.notification-item-list
            %li.notification-item-link
              .notification-item-link__logo
                = image_tag "logo_red.svg"
              .notification-item-link__body
                .notification-item-link__body--text 明日、8%還元クーポンの有効期限が切れます！タップして詳細を確認しましょう。
                %time
                  %i.icon-time
                  %span 1 時間前
              %i.icon-arrow-right
            %li.notification-item-link            
              .notification-item-link__logo
                = image_tag "logo_red.svg"
              .notification-item-link__body
                .notification-item-link__body--text 事務局から個別メッセージ「《3日間限定！ポイント倍増》招待コード「あけおめ」を入力してメルペイ登録すると合計P2,000もらえる」
                %time
                  %i.icon-time
                  %span 1 時間前
              %i.icon-arrow-right
            %li.notification-item-link
              .notification-item-link__logo
                = image_tag "logo_red.svg"
              .notification-item-link__body
                .notification-item-link__body--text 事務局から個別メッセージ「【対象者限定】セブン-イレブン初発送200円分ポイントプレゼント」
                %time
                  %i.icon-time
                  %span 1 日前
              %i.icon-arrow-right
            %li.notification-item-link
              .notification-item-link__logo
                = image_tag "logo_red.svg"
              .notification-item-link__body
                .notification-item-link__body--text 《最大10万円相当》売れたら売上金が2倍のチャンス！本日スタート！
                %time
                  %i.icon-time
                  %span 1 日前
              %i.icon-arrow-right
            %li.notification-item-link
              .notification-item-link__logo
                = image_tag "logo_red.svg"
              .notification-item-link__body
                .notification-item-link__body--text 3日後、8%還元クーポンの有効期限が切れます！タップして詳細を確認しましょう。
                %time
                  %i.icon-time
                  %span 2 日前
              %i.icon-arrow-right
            %li.mypage-go-list
              =link_to "#", class: "go" do 
                一覧を見る
          -# 後で実装
          -# .tab-content-todo
          -#   %li
          -#     %a.mypage-item-link{:href => "https://www.mercari.com/jp/mypage/email_password/"}
          -#       %figure
          -#         %img.lazyload{:alt => "", "data-src" => "//static.mercdn.net/images/mercari_profile.png"}/
          -#       .mypage-item-body
          -#         .mypage-item-text メールが届いていない状態です。設定しているメールアドレスをご確認ください
          -#         %time
          -#           %i.icon-time
          -#           %span 116 日前
          -#       %i.icon-arrow-right
          -#   %li.mypage-go-list
          -#     %a{:href => "/jp/mypage/todo/"} 一覧を見る 


      %section.transaction-hisory
        %h2.header 購入した商品
        %ul.transaction-tabs
          %li.transaction-tabs__now
            %h3 取引中
          %li.transaction-tabs__old
            %h3 過去の取引
        .tab-content-transaction
          %ul.tab-content-transaction__now
            %li.tab-content-transaction__now--not-found.bold 取引中の商品がありません
          -# 後で実装             
          -# %ul.tab-content-transaction__old
          -#   %li
          -#     %a.mypage-item-link{:href => "https://www.mercari.com/jp/transaction/order_status/m59827217698/"}
          -#       %figure
          -#         %img.lazyload{:alt => "", "data-src" => "//static.mercdn.net/thumb/photos/m59827217698_1.jpg?1515386008"}/
          -#       .mypage-item-body
          -#         .mypage-item-text
          -#           「インナー付き レース スカート  新品  RETRO GIRL M」 を購入しました。
          -#           %span 取引が完了しました
          -#         .mypage-item-status.bold.done
          -#           取引完了
          -#       %i.icon-arrow-right
          -#   %li.mypage-go-list
          -#     %a{:href => "/jp/mypage/purchased/"} 一覧を見る
    .side-content
      %nav.mypage-nav
        %ul.mypage-nav-list
          %li
            =link_to user_path(current_user.id), class: "mypage-nav-list-item" do
              マイページ
              %i.icon-arrow-right
          %li
            =link_to "#", class: "mypage-nav-list-item" do
              お知らせ
              %i.icon-arrow-right
          %li
            =link_to "#", class: "mypage-nav-list-item" do
              やることリスト
              %i.icon-arrow-right
          %li
            =link_to "#", class: "mypage-nav-list-item" do
              いいね！一覧
              %i.icon-arrow-right
          %li
            =link_to new_product_path, class: "mypage-nav-list-item" do
              出品する
              %i.icon-arrow-right
          %li
            =link_to "#", class: "mypage-nav-list-item" do
              出品した商品 - 出品中
              %i.icon-arrow-right
          %li
            =link_to "#", class: "mypage-nav-list-item" do
              出品した商品 - 取引中
              %i.icon-arrow-right
          %li
            =link_to "#", class: "mypage-nav-list-item" do
              出品した商品 - 売却済み
              %i.icon-arrow-right
          %li
            =link_to "#", class: "mypage-nav-list-item" do
              購入した商品 - 取引中
              %i.icon-arrow-right
          %li
            =link_to "#", class: "mypage-nav-list-item" do
              購入した商品 - 過去の取引
              %i.icon-arrow-right
          %li
            =link_to "#", class: "mypage-nav-list-item" do
              ニュース一覧
              %i.icon-arrow-right
          %li
            =link_to "#", class: "mypage-nav-list-item" do
              評価一覧
              %i.icon-arrow-right
          %li
            =link_to "#", class: "mypage-nav-list-item" do
              ガイド
              %i.icon-arrow-right
          %li
            =link_to "#", class: "mypage-nav-list-item" do
              お問い合わせ
              %i.icon-arrow-right
        %h3.mypage-nav-head-merpay メルペイ
        %ul.mypage-nav-list-merpay
          %li
            =link_to "#", class: "mypage-nav-list-merpay-item" do
              売上・振込申請
              %i.icon-arrow-right
          %li
            =link_to "#", class: "mypage-nav-list-merpay-item" do
              ポイント
              %i.icon-arrow-right
        %h3.mypage-nav-head-setting 設定
        %ul.mypage-nav-list-setting
          %li
            =link_to "#", class: "mypage-nav-list-setting-item" do
              プロフィール
              %i.icon-arrow-right
          %li
            =link_to "#", class: "mypage-nav-list-setting-item" do
              発送元・お届け先住所変更
              %i.icon-arrow-right
          %li
            =link_to card_path, class: "mypage-nav-list-setting-item" do
              支払い方法
              %i.icon-arrow-right
          %li
            =link_to "#", class: "mypage-nav-list-setting-item" do
              メール/パスワード
              %i.icon-arrow-right
          %li
            =link_to edit_user_path, class: "mypage-nav-list-setting-item" do
              本人情報
              %i.icon-arrow-right
          %li
            =link_to "#", class: "mypage-nav-list-setting-item" do
              電話番号の確認
              %i.icon-arrow-right
          %li
            =link_to destroy_user_session_path, class: "mypage-nav-list-setting-item" do
              ログアウト
              %i.icon-arrow-right
=render "home/footer"
