-if user_signed_in?
  =render "home/header_login"
-else
  =render "home/header_unlogin"

.categrory__container

  .search__section
    %h2.search__section--title カテゴリー一覧
    %ul.search__section--nav
      - @parents.each do |parent|
        %li.search__section--nav-parent
          = parent.name

  .list__section
    .category__box
      - @parents.each do |parent|
        .category__box--title
          %h3.title--name
            = parent.name
        .category__box--inner
          .list__parent-all
            = link_to "すべて", "category/#/"
          .list__child
            - parent.children.each do |child|
              .list__child--name
                = child.name
                .list__child--all
                  = link_to "すべて", "category/#/"
                .list__grandchild
                  - child.children.each do |grandchild|
                    .list__grandchild--name
                      = link_to "#{grandchild.name}", "category/#/"

= render "products/sell-tab"

= render "home/footer"