.swiper-container
  .swiper-wrapper

    .swiper-slide
      = image_tag("mercari4.jpg", class: "swiper-slide__image")

    .swiper-slide
      = image_tag("mercari1.jpg", class: "swiper-slide__image")

    .swiper-slide
      %div
        .top-main-visual
          .top-main-visual__div
            .top-main-visual__div__content
              %h2 スマホでかんたん<br>フリマアプリ
              %p メルカリはスマホカメラからすぐに出品できる<br>購入時も安心な独自システムのアプリです
              .top-main-visual__div__content__store.clearfix
                = link_to '#' do
                  = image_tag "app-store.svg"
                = link_to '#' do
                  = image_tag "google-play.svg"

            = image_tag "merucari-top.png", class: "top-main-visual__image"

    .swiper-slide
      = image_tag("mercari3.jpg", class: "swiper-slide__image")

  .swiper-button-prev
  .swiper-button-next
  .swiper-pagination#pagination

%section.pickup-container
  %h2.pickup-container__title
    ピックアップカテゴリー

  

  %h2.pickup-container__title
    ピックアップブランド

  


