.exhibit__page
  = render 'single-container'
  .exhibit__page__main
    .exhibit__page__main__contents
      %h3.exhibit__page__main__contents__message
        商品の情報を入力
      = form_for @product,url:product_path, html:{class:"form-content"},method: :patch do |f|
        
        .img-form
          %h3.img__upload__text
            出品画像
            %span.form--caution 
              必須
          %p.img__upload__comment 最大10枚までアップロードできます
          .preview-area
            %ul.product-image-list#product-image-list
              .upload-area
                .upload-area__dropbox
                  %p 
                    ドラッグアンドドロップ
                    %br
                    またはクリックしてファイルをアップロード

        .sell--content
          .sell--content__name
            %h3.sell--content__name__name
              商品名
              %span.form--caution 
                必須
            %div
              = f.text_field :name, class:"product-name__text__field",placeholder: "商品名（必須 40文字まで)"
          .sell--content__description
            %h3.sell--content__description__description
              商品の説明
              %span.form--caution 
                必須
            =f.text_area :explain,class:"sell--content__text__area",placeholder: "商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。"
        .product-details
          %h3.product-details__name 商品の詳細
          .product-details__form
            .product-details__form__category
              %h3.product-details__form__category__name
                カテゴリー
                %span.form--caution 必須
                .select--wrap
                  = f.collection_select :category_id, Category.all, :id, :name,{prompt:"---"},{class:"select--wrap-cat1__default-category1"}
                  %i.fas.fa-angle-down
            .product-details__form__brand
              %h3.product-details__form__brand__name
                ブランド
                %span.form--caution 任意
                .select--wrap
                  = f.select :brand_id,Product.brand_ids.keys,{prompt:"---"}, {class:"select--wrap__default"}
                  %i.fas.fa-angle-down
            .product-details__form__size
              %h3.product-details__form__size__name
                サイズ
                %span.form--caution 必須
                .select--wrap
                  = f.select :size,Product.sizes.keys,{prompt:"---"}, {class:"select--wrap__default"}
                  %i.fas.fa-angle-down
            .product-details__form__status
              %h3.product-details__form__status__name
                商品の状態
                %span.form--caution 必須
                .select--wrap
                  = f.select :status,Product.statuses.keys,{prompt:"---"}, {class:"select--wrap__default"}
                  %i.fas.fa-angle-down
        .delivery-form
          %h3.delivery-form__about__delivery 配送について
          =link_to "#", class: 'form--question' do
            ?
          .delivery-form__box
            .delivery-form__box__top
              %h3.delivery-form__box__top__name
                配送料の負担
                %span.form--caution 必須
              .select--wrap
                = f.select :postage,Product.postages.keys,{prompt:"---"}, {class:"select--wrap__default"}
                %i.fas.fa-angle-down
            .delivery-form__box__middle
              %h3.delivery-form__box__top__name
                発送元の地域
                %span.form--caution 必須
              .select--wrap
                = f.select :prefecture,Product.prefectures.keys,{prompt:"---"},{class:"select--wrap__default "}
                %i.fas.fa-angle-down
            .delivery-form__box__bottom
              %h3.delivery-form__box__top__name
                発送までの日数
                %span.form--caution 必須
              .select--wrap
                = f.select :shipping_date,Product.shipping_dates.keys,{prompt:"---"}, {class:"select--wrap__default"}
                %i.fas.fa-angle-down
        .product-price
          %h3.product-price__name 
            販売価格(300〜9,999,999)
          =link_to "#", class: 'form--question' do
            ?
          .product-price__form
            .product-price__form__left
              %h3.product-price__form__name
                価格
                %span.form--caution 必須
                %span.product-price__form__right
                  ¥
            .input--price
              =f.text_field :price,class:"input--price__default",placeholder: "例）300"
        .submit-button
          .subimit-button__text
            =link_to "#", class: 'sell--content5__p__a' do
              禁止されている出品
            =link_to "#", class: 'sell--content5__p__a' do
              行為
            を必ずご確認ください。
            %p.sell--content5__p
              またブランド品でシリアルナンバー等がある場合はご記載ください。
              =link_to "#", class: 'sell--content5__p__a' do
                偽ブランドの販売
              は犯罪であり処罰される可能性があります。
            %p.sell--content5__p
              また、出品をもちまして
              =link_to "#", class: 'sell--content5__p__a' do
                加盟店規約
              に同意したことになります。
            .actions
              =f.submit "変更する",class:"btn--red"
          %a.btn--gray
            =link_to "キャンセル", :back,class: "btn--gray"
  .exhibit-page__footer
    .exhibit-page__footer__content
      .exhibit-page__footer__content__main
        %ul.exhibit-page__footer__lists
          %li.exhibit-page__footer__list
            プライバシーポリシー
          %li.exhibit-page__footer__list
            メルカリ利用規約
          %li.exhibit-page__footer__list
            特定商取引に関する表記
          %p.exhibit-page__footer__copyright
            © 2019 Mercari
